html {
	color: var(--fg);
	background-color: var(--bg1);

	line-height: 1;

	--scrollbar-width: 1ch;
	--border: 1px solid var(--bga1);
}
/* teko-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Teko';
	font-style: normal;
	font-weight: 700;
	src: url('/_fonts/teko-v15-latin-700.woff2') format('woff2'),
		url('/_fonts/teko-v15-latin-700.woff') format('woff');
}
.font-x {
	font-family: 'Teko', sans-serif;
}

/* :where(h1, h2, h3, h4) { */
/* 	color: var(--text-dim); */
/* } */

.form .field :is(input, select, textarea) {
	line-height: 1.2;
	/* border-width: 3px; */
}

.container-1 {
	max-width: 1200px;
	margin-inline: auto;
}
.container {
	max-width: 100ch;
	margin-inline: auto;
	padding-inline: var(--rsx);
}

.modal-box {
	position: relative;
	align-self: flex-start;
	margin-top: 3.5rem;
}

.card {
	background-color: var(--bg);
	padding: 3rem var(--rsx) 6rem;
	border-radius: var(--btn-br);
	border: 1px solid var(--__bga);
	min-width: 300px;
	line-height: 1.4;
}

#modal {
	padding-block: 3rem;
	padding-inline: clamp(1ch, 3vw, 2.5rem);
}
@media (hover: hover) {
	#modal {
		background: hsl(0, 0%, 0%, 0.3);
		backdrop-filter: blur(0.2rem);
	}
}

body {
	--bg-1: var(--bg1);

	--br-s: 0.33rem; /* border-radius-small */
	--br-m: 1rem;
	--br-l: 3rem;
}

a.btn {
	text-underline-offset: 3px;
}
a.btn.text:hover {
	outline: none;
}
label {
	min-width: 0;
}
