html {
	font-size: 14px;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

	scrollbar-gutter: stable;
}

body {
	position: relative;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	line-height: 1;

	color: var(--fg);
	background-color: var(--bg);

	--scrollbar-width: 1ch;
}

p {
	line-height: 1.7;
}

h1,
h2,
h3,
h4 {
	color: var(--text-dim);
}

.font2 {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

input,
select {
	line-height: 1.2 !important;
}

.container {
	max-width: 100ch;
	margin-inline: auto;
	padding-inline: var(--rsx);
}

.modal-box {
	position: relative;
	align-self: flex-start;
	margin-top: 3.5rem;
}

#modal {
	--modal-bg: hsla(0, 0%, 0%, 0.5);
}

/* html.dark { */
/* 	--hue-sat-bg: 195, 3%; */
/* 	--bg: hsl(var(--hue-sat-bg), 12%); */
/* } */

body {
	--bg-1: var(--bg1);

	--br-s: 0.33rem; /* border-radius-small */
	--br-m: 1rem;
	--br-l: 3rem;
}
