:root {
	--hue-sat-alpha: 174, 100%;
	--hue-sat-alpha: 205, 100%;
	--alpha-hsl: var(--hue-sat-alpha), 27%;

	--alpha-dim: hsl(var(--hue-sat-alpha), 17%);
	--alpha-down: hsl(var(--hue-sat-alpha), 21%);
	--alpha: hsl(var(--hue-sat-alpha), 27%);
	--alpha-up: hsl(var(--hue-sat-alpha), 31%);
	--alpha-bright: hsl(var(--hue-sat-alpha), 70%);

	--hue-sat-beta: 284, 80%;
	--beta-hsl: var(--hue-sat-beta), 43%;

	--beta-dim: hsl(var(--hue-sat-beta), 20%);
	--beta-down: hsl(var(--hue-sat-beta), 26%);
	--beta: hsl(var(--hue-sat-beta), 30%);
	--beta-up: hsl(var(--hue-sat-beta), 35%);
	--beta-bright: hsl(var(--hue-sat-beta), 70%);

	--hue-sat-gamma: 100, 55%;
	--gamma-hsl: var(--hue-sat-gamma), 40%;

	--gamma-dim: hsl(var(--hue-sat-gamma), 30%);
	--gamma-down: hsl(var(--hue-sat-gamma), 35%);
	--gamma: hsl(var(--hue-sat-gamma), 40%);
	--gamma-up: hsl(var(--hue-sat-gamma), 45%);
	--gamma-bright: hsl(var(--hue-sat-gamma), 75%);

	--hue-sat-danger: 15, 70%;
	--danger-hsl: var(--hue-sat-danger), 55%;

	--danger-dim: hsl(var(--hue-sat-danger), 40%);
	--danger-down: hsl(var(--hue-sat-danger), 45%);
	--danger: hsl(var(--hue-sat-danger), 50%);
	--danger-up: hsl(var(--hue-sat-danger), 55%);
	--danger-bright: hsl(var(--hue-sat-danger), 70%);
}

:root {
	--hue-sat-bg: 220, 60%;
}

/* html.dark { */
/* 	--hue-sat-bg: 220, 20%; */
/* } */
