/* ul.table { */
/* 	border-block: var(--border); */
/* } */

.table li {
	padding-block: 3px;
	padding-inline: 1ch;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 1ch;
}

/*.table  li:before { */
/* 	content: '~'; */
/* } */

.table li:hover {
	background-color: var(--bg1);
	/* border-radius: 6px; */
}

.table li:not(:hover) > :last-child:not(:focus-within) {
	/* visibility: hidden; */
	opacity: 0.65;
}
